<%= form_with(model: stunning_view, local: true) do |form| %>
  <% if stunning_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stunning_view.errors.count, "error") %> prohibited this stunning_view from being saved:</h2>
      <ul>
        <% stunning_view.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :car_access %>
    <%= form.check_box :car_access %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <span class="images">
    <%= form.file_field :images, multiple: true %>
  </span>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
